div.searchBar
    div.container
        form.search__form(method='POST' action='/search' role='search')
            input#searchInput.form-control(type='search', placeholder='Name of post' name='searchTerm')
        #searchClose Close
