extends layout
block content
    div.container
        h1.post_detail About
        p.post_detail_body This blog is for all of my friends and family with whom I would love to share all of these recipes. Some of them were developed entirely by me, some of them are family heirlooms and some are just tweaked recipes I found online. Enjoy the reading!