extends layout

block content
  div.welcome
    h1.welcome_title= title
    p.welcome_body This is a blog where I share my recipes.
  div.container
    section.articles
      h2.articles__heading Latest Posts

      ul.article-ul
        each post in posts
          li
            a(href=post.url)
              span= post.title
              span.article-list__date=post.createdAt.toDateString()
