doctype html
html(lang='en')
  head
    title= title

    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= locals.title
    meta(name="description", content=locals.description)
    link(rel="stylesheet", href="stylesheets/style.css")
    script(type="text/javascript", defer, src="/js/script.js")


  body
    //include ../partials/search.ejs
    div
      include partials/header
      main.main
        block content
      //include ../partials/footer.ejs
  //body
  //  div(class='container-fluid')
  //    div(class='row')
  //      div(class='col-sm-2')
  //        block sidebar
  //          ul(class='sidebar-nav')
  //            li
  //              a(href='/') Home
  //            li
  //              a(href='/posts') All posts
  //            li
  //              if isAuthenticated
  //                a(href='/posts/post/create') Create new post
  //              else
  //                a(href='/login') Login
  //
  //      div(class='col-sm-10')
  //        block content