extends layout

block content
    div.container
        h1.post_detail=title

        div.post_detail_body !{body}
        if isAuthenticated
            hr
            p
                a(href=post_url + '/delete') Delete Post
            p
                a(href=post_url + '/update') Update Post