extends layout

block content
    div.container
        section.articles
            h2.articles__heading Search results

            ul.article-ul
                each post in posts
                    li
                        a(href=post.url)
                            span= post.title

